{% macro render_blog_post(post, from_index=false) %}
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      {% if from_index %}
        <div class="post-preview">
          <a href="{{ post|url }}">
            <h2 class="post-title">
            {{ post.title }}
            </h2>
            <h3 class="post-subtitle">
            {{post.subtitle}}
            </h3>
          </a>
        </div>
        <hr>
      {% else %}       
      {% endif %}
      <p class="post-meta">
        written by
        {% if post.twitter_handle %}
          <a href="https://twitter.com/{{ post.twitter_handle}}">
          {{ post.author or post.twitter_handle }}</a>
        {% else %}
          {{ post.author }}
        {% endif %}
        on {{ post.pub_date }}
      </p>
      {{ post.body }}
    </div>
  </div>
</div>
{% endmacro %}