{% macro render_pagination(pagination) %}
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">

  <div class="clearfix">
    {% if pagination.has_prev %}
      <a class="btn btn-primary float-left" href="{{ pagination.prev|url }}">Previous</a>
    {% else %}
      <span class="btn btn-primary float-left disabled">Previous</span>
    {% endif %}
    <span class="btn btn-default disabled offset-3">page {{ pagination.page }}</span>
    {% if pagination.has_next %}
      <a class="btn btn-primary float-right" href="{{ pagination.next|url }}">Next</a>
    {% else %}
      <span class="btn btn-primary float-right disabled">Next</span>
    {% endif %}
  </div>

  </div>
  </div>
  </div>

{% endmacro %}
