<!doctype html>
<meta charset="utf-8">
<head>
  <!-- <link rel="stylesheet" href="{{ '/static/style.css'|url }}"> -->
  <!-- Bootstrap core CSS -->
  <link href="{{'/static/vendor/bootstrap/css/bootstrap.min.css'|url}}" rel="stylesheet">
  <!-- Custom fonts for this template -->
  <link href="{{'/static/vendor/font-awesome/css/font-awesome.min.css'|url}}" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
  <!-- Custom styles for this template -->
  <link href="{{'/static/css/clean-blog.min.css'|url}}" rel="stylesheet">
  
  <title>{% block page_title %}Welcome{% endblock %} — Ihor Sakivskyi blog</title>
  <meta name="keywords" content="python, history, infographics, data science, visualization">
  <meta name="description" content="Blog about programming, infographics and history">
</head>
<body>
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand" href="{{ '/blog'|url }}">Ihor Sakivskyi blog</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      Menu
      <i class="fa fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active" {% if this._path == '/' %} {% endif %}>
          <a class="nav-link" href="{{ '/blog'|url }}">Blog</a>
        </li>
        {% for href, page in [
          ['/contact', 'Contact'],
          ['/about', 'About']
          ] %}
          <li class="nav-item active"><a href="{{ href|url }}" class="nav-link">{{ page }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
</nav>
<!-- Page Header -->
<header class="masthead" style="background-image: url('https://gitlab.com/suchOK/blog/raw/master/assets/static/img/home-bg.jpg')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h1>{% block title %}Programming, infographics, history{% endblock %}</h1>
          <span class="subheading">{% block subtitle %}data science, data visualization and much more fun and interesting stuff{% endblock %}</span>
        </div>
      </div>
    </div>
  </div>
</header>
{% block body %}{% endblock %}
<!-- Footer -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p class="copyright text-muted">&copy; Copyright 2018 by Ihor Sakivskyi</p>
      </div>
    </div>
  </div>
</footer>
<!-- google analytics -->
<div class="ga-script">{{ generate_google_analytics() }}</div>
<!-- Bootstrap core JavaScript -->
<script src="{{ '/static/vendor/jquery/jquery.min.js'|url}}"></script>
<script src="{{ '/static/vendor/bootstrap/js/bootstrap.bundle.min.js'|url}}"></script>
<!-- Custom scripts for this template -->
<script src="{{ '/static/js/clean-blog.min.js'|url}}"></script>
</body>