{% extends "layout.html" %}
{% block title %}{{ this.title }}{% endblock %}
{% block subtitle %}{{ this.subtitle }}{% endblock %}
{% block body %}
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-preview">
          <h3 class="post-title">{{ this.title }}</h3>
          <p class="post-subtitle">{{ this.body }}</p>
          
        </div>
      </div>
    </div>
  </div>
{% endblock %}